
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:aGanuX
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aGanuX:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:ybyWej
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ybyWej:ERRORPAGEID


# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working

RewriteBase /

Options -Indexes
