@import url("./qube");

body {
    height: 100%;
    margin: 0px !important;
    font-family: 'Cousine', monospace;
}

.meny {
    font-size: 12px;
    color: #888;
    padding: 10px;
    background-color: #A6A6A6;
    transform-origin: 80% 50% !important;
}

.meny h2 {
    font-size: 24px;
    color: #ffb;
}

.meny a {
    color: #ffe;
}

.meny ul {
    margin-top: 10px;
    padding: 10px;
}

.meny ul li {
    display: inline-block;
    /*width: 200px;*/
    list-style: none;
    font-size: 16px;
    color: #ccc;
    padding: 3px 10px;
}

.meny ul li:before {
    content: '~';
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.4);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 0;
}

.particles-js-canvas-el {
    /* sorry */
    position: absolute;
    top: 0;
}

.perspective {
    position: relative;
    -webkit-perspective: 75em;
    perspective: 75em;
    -webkit-perspective-origin: 50% 60%;
    perspective-origin: 50% 60%;
    width: 970px;
    margin: 0 auto;

    font-weight: 100;
    color: #000;
    text-align: center;
    padding-top: 60px;
    z-index: 1;
    /* over the particles */
}

input {
    display: none;
}

.menupointer {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.5s ease 0.5s;
    -moz-transition: opacity 0.5s ease 0.5s;
    -ms-transition: opacity 0.5s ease 0.5s;
    -o-transition: opacity 0.5s ease 0.5s;
    transition: opacity 0.5s ease 0.5s;
}

.meny-active .menupointer {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

html {
    height: 100%;
}

.contents {
    height: 100%;
    background: #eee;
}

#content {
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.tab {
    position: absolute;
    line-height: 70px;
    font-weight: 300;
    font-size: 13pt;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.8s ease-in;
    transition: -webkit-transform 0.8s ease-in;
    transition: transform 0.8s ease-in;
    transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    z-index: 10;
    /* i hate you, google chrome, i really do */
}

.tab:nth-child(2) {
    background: linear-gradient(90deg, #d8ccad, #d8cc66);
    background-size: 150% 150%;
    animation-name: GradAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.tab:nth-child(4) {
    background: linear-gradient(90deg, #d8b58f, #d8b511);
    background-size: 150% 150%;
    animation-name: GradAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.tab:nth-child(6) {
    background: linear-gradient(90deg, #9399bf, #6666bf);
    background-size: 150% 150%;
    animation-name: GradAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.tab:nth-child(8) {
    z-index: 9;
    /* i hate you, google chrome, i really do */
    background: linear-gradient(90deg, #93bf98, #11bf11);
    background-size: 150% 150%;
    animation-name: GradAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.tab-content {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: justify;
}

h1 {
    font-size: 25px;
    margin: 15px 30px;
    font-weight: 300;
}

.lyrics {
    margin: 10px 20px 0;
    font-size: 14px;
}

.rare {
    font-size: 14px;
    opacity: 0.5;
}

.never {
    font-size: 14px;
    opacity: 0.1;
}

.tab-content-front {
    background: #d8b58f;
}

.tab-content-top {
    background: #d8ccad;
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    background-position: right bottom
}

.tab-content-bottom {
    background: #9399bf;
}

.tab-content-back {
    transform: rotate(-180deg);
    background: #93bf98;
    background-image: url("../img/piglet.png");
    background-repeat: no-repeat;
    background-position: left bottom
}

#tab-top:checked~.qube-preserve3d {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

#tab-front:checked~.qube-preserve3d.qube {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#tab-bottom:checked~.qube-preserve3d {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

#tab-back:checked~.qube-preserve3d {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#tab-top:checked+.tab {
    -webkit-transform: translateZ(210px) translateX(-80px);
    transform: translateZ(210px) translateX(-80px);
}

#tab-bottom:checked+.tab {
    -webkit-transform: translateZ(210px) translateX(-80px);
    transform: translateZ(210px) translateX(-80px);
}

#tab-back:checked+.tab {
    -webkit-transform: translateZ(210px) translateX(-80px);
    transform: translateZ(210px) translateX(-80px);
}

#tab-front:checked+.tab {
    -webkit-transform: translateZ(210px) translateX(-80px);
    transform: translateZ(210px) translateX(-80px);
}

@-webkit-keyframes GradAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes GradAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes GradAnim {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
.map-mobile li{
    border: 0.5px solid burlywood;
    background-color: rgba(255,255,255, 0.3);
}

.map-mobile .-hasSubmenu{
    background-color: rgba(188, 122, 101,0.4);
}
.map-mobile .-active{
    background-color: rgba(134, 236, 202, 0.4);
}



@media screen and (min-width: 319px) {
    h1 {
        font-size: 14px;
    }

    .lyrics {
        font-size: 9px;
        line-height: 1.2;
    }

    .tab:nth-child(2) {
        top: 3vh;
        left: -20vw;
    }

    #tab-top:checked+.tab,
    #tab-front:checked+.tab,
    #tab-bottom:checked+.tab,
    #tab-back:checked+.tab {
        transform: translateZ(50px);
    }

    .tab:nth-child(4) {
        top: 3vh;
        left: 3vw;
    }

    .tab:nth-child(6) {
        top: 3vh;
        left: 20vw;
    }

    .tab:nth-child(8) {
        top: 3vh;
        left: 43vw;
        z-index: 10;
    }

    .tab {

        width: 30vw;
        height: 6vh;
        font-size: 11px;
        padding-left: 5px;
    }
    .never, .rare{
        font-size: 9px;
    }
    .map-mobile{
        padding: 0 10px;
    }
    .map-mobile p{
        font-size: 14px;
        margin-bottom: 0;
    }
    .map-mobile ul{
        padding: 5px;
    }
    .map-mobile li{
        font-size: 12px;
        padding-left: 10px;
    }
    .map-mobile a{
        text-decoration: underline;
    }
    .map-mobile a[href='']{
        color: rgb(102, 98, 98);
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 18px;
    }

    .lyrics, .rare, .never {
        font-size: 14px;
        line-height: 1.2;
    }

    .tab:nth-child(2) {
        top: 12vh;
        left: 58vw;
    }

    .tab:nth-child(4) {
        top: 23vh;
        left: 58vw;
    }

    .tab:nth-child(6) {
        top: 34vh;
        left: 58vw;
    }

    .tab:nth-child(8) {
        top: 45vh;
        left: 58vw;
        z-index: 10;
    }

    .tab {
        text-align: center;
        width: 14vw;
        height: 11vh;
        font-size: 14px;
        white-space: pre;
    }
    .map-mobile{
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .tab:nth-child(2) {
        top: 12vh;
        left: 51vw;
    }

    .tab:nth-child(4) {
        top: 23vh;
        left: 51vw;
    }

    .tab:nth-child(6) {
        top: 34vh;
        left: 51vw;
    }

    .tab:nth-child(8) {
        top: 45vh;
        left: 51vw;
    }
    .lyrics{
        margin-right: 5%;
        margin-left: 5%;
    }
    .tab {
        width: 14vw;
        height: 11vh;
        font-size: 14px;       
    }
}
@media screen and (min-width: 1400px) {
    .tab:nth-child(2) {
        top: 19vh;
        left: 41vw;
    }

    .tab:nth-child(4) {
        top: 30vh;
        left: 41vw;
    }

    .tab:nth-child(6) {
        top: 41vh;
        left: 41vw;
    }

    .tab:nth-child(8) {
        top: 52vh;
        left: 41vw;
    }
    .lyrics{
        margin-right: 6%;
        margin-left: 4%;
    }
    .tab {
        width: 8vw;
        height: 11vh;
        font-size: 14px;    
           
    }
}
@media screen and (min-width: 2000px) {
    .tab:nth-child(2) {
        top: 19vh;
        left: 39vw;
    }

    .tab:nth-child(4) {
        top: 30vh;
        left: 39vw;
    }

    .tab:nth-child(6) {
        top: 41vh;
        left: 39vw;
    }

    .tab:nth-child(8) {
        top: 52vh;
        left: 39vw;
    }
    h1{
        font-size: 30px;
    }
    .lyrics{
        font-size: 20px;
        margin-right: 11%;
    }
    .rare, .never {
        font-size: 20px;
    }
    .tab {     
        line-height: 11vh;
        font-size: 27px;       
    }
    .footer{
        font-size: 20px;
    }
}